<div class="container-fluid">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header"> Lista de Usuários </h1>
  </div>
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <div class="col-inner">
        <form role="search" method="get" class="search-form">
          <label class="sr-only">Search</label>
          <div class="input-group full-width">
            <input type="search" name="s" class="search-field form-control" placeholder="Pesquisar Usuário" ng-model="searchUser">
            <span class="input-group-btn">
              <button type="submit" class="search-submit btn btn-default">Buscar</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <button type="button" class="pull-right btn btn-success" data-toggle="modal" data-target="#cadastrarUsuario">
      <span aria-hidden="true"> Cadastrar Usuário </span>
    </button>
  </div>
</div>
<div class="modal fade" id="cadastrarUsuario">
  <cadastrar-usuario></cadastrar-usuario>
</div>
<div class="modal fade" id="editarUsuario">
  <atualizar-usuario></atualizar-usuario>
</div>
<div class="modal fade" id="desativarUsuario">
  <desativar-usuario></desativar-usuario>
</div>
<div class="container-fluid">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <table class="table table-striped" >
      <thead>
        <tr>
          <th>NetID</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Email</th>
          <th>Unidade</th>
          <th>Editar</th>
          <th>Desativar</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="user in Administrador.usuarios | filter:searchUser">
          <td>{{user.netId}}</td>
          <td>{{user.nome}}</td>
          <td>{{user.sobrenome}}</td>
          <td>{{user.email}}</td>
          <td>{{user.unidade}}</td>
          <td>
            <!-- <a data-toggle="modal" data-target="#editarUsuario" style="text-decoration: none;" >  <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 30px;"> </span> </a> -->
            <button data-toggle="modal" data-target="#editarUsuario" type="button" class="btn btn-default" data-ng-click="Administrador.editarUsuario(user)">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 30px;"> </span>
            </button>
          </td>
          <td>
            <button data-toggle="modal" data-target="#desativarUsuario" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-trash" aria-hidden="true" style="font-size: 30px;"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
