<div id="editarUsuario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2 class="modal-title"> Editar Usuário </h2>
      </div>
      <div class="modal-body">
        <form name="editarUsuario" data-ng-submit="Administrador.atualizarUsuario(Administrador.form)">
          <div class="form-group">
            <label> Nome: </label>
            <input type="text" class="form-control" id="registerName" required ng-model="Administrador.form.nome">
            <label> Sobrenome: </label>
            <input type="text" class="form-control" id="registerLastName" required ng-model="Administrador.form.sobrenome">
          </div>
          <div class="form-group">
            <label> E-Mail: </label>
            <input type="email" class="form-control" id="registerEmail" required ng-model="Administrador.form.email">
            <label> NetID: </label>
            <input type="text" class="form-control" id="registerNetID" maxlength="4" required ng-model="Administrador.form.netId">
            <label> CPF: </label>
            <input type="text" class="form-control" id="registerCPF" maxlength="11" placeholder="99999999999" pattern="\d*" required ng-model="Administrador.form.cpf">
            <label> Unidade: </label>
            <input type="text" class="form-control" id="unidade" required ng-model="Administrador.form.unidade">
          </div>
          <!--
          <div class="form-group">
            <label> Unidade: </label>
            <select class="form-control" id="registerUnidade">
              <option id="alphaville"> Alphaville </option>
              <option id="curitiba"> Curitiba </option>
              <option id="pinheiros"> Pinheiros </option>
              <option id="sorocaba"> Sorocaba </option>
            </select>
          </div>
        -->
          <div class="modal-footer">
            <button type="button" class="btn btn-warning pull-left" data-ng-click="Administrador.redefinirSenha(Administrador.form.id_usuario)">
              <span aria-hidden="true"> Resetar Senha </span>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span aria-hidden="true"> Cancelar </span>
            </button>
            <input type="submit" id="editarUsuarioSubmit" value="Confirmar" class="btn btn-success"></input>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
