<div class="container-fluid">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header"> Home </h1>
	</div>
  <div class="col-sm-12 col-sm-offset-9 col-md-10 col-md-offset-2 main">
    <div class="row">
      <div class="col-sm-3 col-md-3" data-ng-repeat="product in Administrador.produtos">
        <div class="thumbnail">
          <img src="assets/img/yurakucho-shink-ALF_0305.jpg" alt="...">
          <div class="caption">
            <h1> 00:00:00 </h1>
            <div class="col-xs-12"><hr></hr></div>
            <h3> {{product.nomeProduto}} </h3>
            <p> {{product.descricao}} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12"><hr></div>
  </div>
</div>
