<div class="container-fluid">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header"> Parâmetros </h1>
  </div>
  <div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <form class="form-inline">
        <div class="form-group">
          <p>Incluir uma nova unidade como opção de cadastro!</p>
          <label class="unidade" for="inlineFormInput">Unidade: </label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput">
          <button type="submit" class="btn btn-primary">Incluir</button>
        </div>
        <hr>
        <div class="form-group"><br>
          <p>Alterar o acrescimo de tempo por lance ao final do leilão(tempo atual 15s).</p>
          <label class="Tempo" for="inlineFormInput">Tempo: </label>
          <input type="number" class="form-control" id="inlineFormInput">
          <button type="submit" class="btn btn-primary">Alterar</button>
        </div>
        <hr>
        <div class="form-group"><br>
          <p>Alterar a quantidade de leilões simultâneos.</p>
          <label class="Tempo" for="inlineFormInput">Quantidade de Leilões: </label>
          <input type="number" class="form-control" id="inlineFormInput">
          <button type="submit" class="btn btn-primary">Alterar</button>
        </div>
      </form>
    </div>
  </div>
</div>
