<div class="container-fluid">
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header"> Lista de Produtos </h1>
	</div>
	<div class="row">
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
			<div class="col-inner">
				<form role="search" method="get" class="search-form">
					<label class="sr-only">Search</label>
					<div class="input-group full-width">
						<input type="search" name="s" class="search-field form-control" placeholder="Pesquisar Produto" ng-model="searchProduct">
						<span class="input-group-btn">
							<button type="submit" class="search-submit btn btn-default">Buscar</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<label class="btn btn-success btn-file">
			<input type="file" style="display: none;"> Importar do Excel
		</label>
		<button type="button" class="pull-right btn btn-success" data-toggle="modal" data-target="#cadastrarProduto" ng-click="Administrador.cadastrarProduto()">
			<span aria-hidden="true"> Cadastrar Produto </span>
		</button>
	</div>
</div>
<div class="modal fade" id="cadastrarProduto">
  <cadastrar-produto></cadastrar-produto>
</div>
<div class="modal fade" id="editarProduto">
  <atualizar-produto></atualizar-produto>
</div>
<div class="modal fade" id="desativarProduto">
  <desativar-produto></desativar-produto>
</div>
<div class="container-fluid">
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrição</th>
					<th>Unidade</th>
					<th>Editar</th>
					<th>Desativar</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="product in Administrador.produtos | filter:searchProduct">
					<td>{{product.nomeProduto}}</td>
					<td>{{product.descricao}}</td>
					<td>{{product.unidade}}</td>
					<td>
            <!-- <a data-toggle="modal" data-target="#editarUsuario" style="text-decoration: none;" >  <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 30px;"> </span> </a> -->
            <button data-toggle="modal" data-target="#editarProduto" type="button" class="btn btn-default" data-ng-click="Administrador.editarProduto(product, id_produto)">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 30px;"> </span>
            </button>
          </td>
          <td>
            <button data-toggle="modal" data-target="#desativarProduto" type="button" class="btn btn-default" data-ng-click="Administrador.desativarProduto(product)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true" style="font-size: 30px;"></span>
            </button>
          </td>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li class="page-item">
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
