<div id="cadastroProduto">
  <div class="modal-dialog modal-lg" tabindex="-10" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="max-width: 1000px; margin-top: 64.875px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2 class="modal-title"> Cadastrar Produto </h2>
      </div>
      <div class="modal-body">
        <div class="w3-content">
          <div class="w3-row w3-margin">
            <form data-ng-submit="Administrador.cadastrarProduto(Administrador.produto)">
              <!--
              <div class="w3-third">
                <div class="image-upload">
                  <br>
                  <label for="file-input">
                    <img class="d-flex mr-3 img-circle" src="assets/img/yurakucho-shink-ALF_0305.jpg" style="width:100%; min-height:300px">
                  </label>
                  <input id="file-input" type="file"/>
                </div>
              </div>
            -->
              <div class="form-group">
                <label> Nome: </label>
                <input type="name" class="form-control" id="nome_produto" ng-model="Administrador.produto.nomeProduto">
                <label> Descrição: </label>
                <input type="text" class="form-control" id="descricao" ng-model="Administrador.produto.descricao">
                <label> N° de Patrimonio: </label>
                <input type="textarea" class="form-control" id="cod_patrimonio" ng-model="Administrador.produto.codPatrimonio">
              </div>
              <div class="form-inline">
                <label> Valor Inicial: </label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style=" padding-left: 5px; padding-right: 5px;">R$</div>
                  <input type="number" class="form-control" id="inlineFormInputGroup" style="width: 100px;padding-left: 10px;padding-right: 10px;" ng-model="Administrador.produto.valorInicial">
                </div>
                <label> Valor por Lance: </label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style=" padding-left: 5px; padding-right: 5px;">R$</div>
                  <input type="number" class="form-control" id="inlineFormInputGroup" style="width: 100px;padding-left: 10px;padding-right: 10px;"ng-model="Administrador.produto.valorPorLance">
                </div>
              </div>
              <div class="form-group">
                <label> Unidade: </label>
                <input type="text" class="form-control" id="unidade" required ng-model="Administrador.produto.unidade">
              </div>
              <!--
              <div class="form-group">
                <label> Unidade: </label>
                <select class="form-control" id="unidade">
                  <option id="alphaville"> Alphaville </option>
                  <option id="curitiba"> Curitiba </option>
                  <option id="pinheiros"> Pinheiros </option>
                  <option id="sorocaba"> Sorocaba </option>
                </select>
              </div>
            -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  <span aria-hidden="true">Cancelar</span>
                </button>
                <input type="submit" id="cadastrarProdutoSubmit" value="Cadastrar" class="btn btn-success"></input>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
