<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Leilão</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"> Configurações </a></li>
          <li><a href="/"> Sair </a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-pills nav-stacked">
    		<li>
          <a data-target="#adminHome" data-toggle="tab"><span class="glyphicon glyphicon-home" class="sr-only" aria-hidden="true"></span> Home <span class="sr-only">(current)</span></a>
    		</li>
    		<li><a data-target="#parametros" data-toggle="tab"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Parâmetros </a>
    		</li>
    		<li><a data-target="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuários </a>
          <ol><a data-target="#usuariosLista" data-toggle="tab"> Lista de Usuários </a></ol>
    		</li>
      	<li><a data-target="#"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Produtos </a>
          <ol><a data-target="#produtosLista" data-toggle="tab"> Lista de Produtos </a></ol>
    		</li>
        <li><a data-target="#"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Leilões </a>
          <ol><a data-target="#iniciarLeilao" data-toggle="tab"> Iniciar Leilões </a></ol>
          <ol><a data-target="#leilaoFinalizado" data-toggle="tab"> Leilões Finalizados </a></ol>
        </li>
    	</ul>
    </div>
  </div>
</div>
<div class="tab-content clearfix">
  <div class="tab-pane" id="adminHome">
    <admin-home></admin-home>
  </div>
  <div class="tab-pane" id="parametros">
    <parametros></parametros>
  </div>
  <div class="tab-pane" id="usuariosLista">
    <usuarios-lista></usuarios-lista>
  </div>
  <div class="tab-pane" id="produtosLista">
    <produtos-lista></produtos-lista>
  </div>
  <div class="tab-pane" id="iniciarLeilao">
    <iniciar-leilao></iniciar-leilao>
  </div>
  <div class="tab-pane" id="leilaoFinalizado">
    <leilao-finalizado></leilao-finalizado>
  </div>
</div>
