<div class="container-fluid">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header"> Iniciar Leilão </h1>
  </div>
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <div class="col-inner">
        <form role="search" method="get" class="search-form">
          <label class="sr-only">Search</label>
            <div class="input-group full-width">
              <input type="search" name="s" class="search-field form-control" placeholder="Pesquisar Leilão" ng-model="searchAuction">
              <span class="input-group-btn">
                <button type="submit" class="search-submit btn btn-default">Buscar</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <button type="button" class="pull-left btn btn-success" data-toggle="modal" data-target="#leiloesAgendados">
      <span aria-hidden="true"> Leilões Agendados </span>
    </button>
    <button type="button" class="pull-right btn btn-success" data-toggle="modal" data-target="#iniciarLeiloes">
      <span aria-hidden="true"> Iniciar Leilão </span>
    </button>
  </div>
  <div class="container">
    <div id="leiloesAgendados" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" tabindex="-10" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="max-width: 1000px; margin-top: 64.875px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title"> Leilões Agendados </h4>
					</div>
					<div class="modal-body">
            <p class="text-center"> Estes são os leilões agendados </p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							<span aria-hidden="true">Cancelar</span>
						</button>
						<button type="button" class="btn btn-success" data-dismiss="modal">
							<span aria-hidden="true">Confirmar</span>
						</button>
					</div>
        </div>
			</div>
		</div>
  </div>
  <div class="container">
    <div class="col-sm-9 col-sm-offset-3 col-md-12 col-md-offset-2 main">
      <div id="iniciarLeiloes" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" tabindex="-10" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="max-width: 1000px; margin-top: 64.875px;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h4 class="modal-title"> Iniciar Leilão </h4>
            </div>
            <div class="modal-body">
              <p class="text-center"> Você selecionou 4 produtos. </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <span aria-hidden="true">Cancelar</span>
              </button>
              <button type="button" class="btn btn-success" data-dismiss="modal">
                <span aria-hidden="true">Confirmar</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <table class="table table-striped" >
      <thead>
        <tr>
          <th> Foto </th>
          <th> Nome </th>
          <th> Descrição </th>
          <th> Duração </th>
          <th> Valor Inicial </th>
          <th> Data </th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="user in Administrador.usuarios | filter:searchAuction">
          <td> <img class="d-flex mr-3" src="assets/img/yurakucho-shink-ALF_0305.jpg" alt="Generic placeholder image" style="float: left; height: 70px; width: 70px;"> </td>
          <td> <h4 class="mt-0">Media heading</h4> </td>
          <td> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque </td>
          <td> <input class="form-control btn-block" id="disabledInput" type="time" placeholder="01:00" style="width: 110px;"> </td>
          <td> <input class="form-control btn-block" id="disabledInput" type="text" placeholder="R$ 0.00" style="width: 110px;"> </td>
          <td> <input class="form-control btn-block" id="disabledInput" type="text" placeholder="12/12/2017" style="width: 110px;"> </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
