<div class="corpoLogin">
	<div id="login" class="containerLogin">
		<form id="fm1" class="fm-v clearfix form-signin" data-ng-submit="Login.validar(Login.login)">
			<div style="margin-left:0em">
				<img class="img-responsive" style="width:100%;  margin-top: 120px;" src="assets/img/GFT_Workspace_outside_Header_02.gif" alt="Logo da GFT e logo abaixo a palavra Workspace.">
					<div class="row fl-controls-left" style="margin-bottom: 5px;">
						<label class="formTitleRequired sr-only">
							NetId ou E-Mail
						</label>
						<input id="email" name="email" class="formText form-control" tabindex="1"
						placeholder="NetID ou E-Mail" size="25" autocomplete="on" type="text" maxlength="20" required ng-model="Login.login.email">
					</div>
	  			<div class="row fl-controls-left">
	  				<label class="formTitleRequired sr-only">
	  					Password
	  				</label>
	  				<input id="senha" name="senha" class="formText form-control" tabindex="2"
						placeholder="Senha" size="25" autocomplete="off" type="password" maxlength="30" required ng-model="Login.login.senha">
	  			</div>
					<input type="submit" id="loginSubmit" value="Acessar" class="btn btn-primary btn-lg btn-block"></input>
			</div>
		</form>
		<div class="text-center" data-ng-show="Login.showMessageError">
			<p>O seu usuário não possui acesso.</p>
		</div>
	</div>
	<div class="text-center">
		<a href="#recuperar" data-toggle="modal"> Esqueceu a Senha? </a>
		<a data-target="#cadastrarUsuario" data-toggle="modal"> Não tem Cadastro? </a>
	</div>
	<div class="modal fade" id="cadastrarUsuario">
		<login-cadastrar-usuario></login-cadastrar-usuario>
	</div>
	<div class="row btn-row">
		<div id="recuperar" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title"> Recuperar Acesso </h2>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label> NetID: </label>
								<input type="text" class="form-control" id="netid" placeholder="NetID" maxlength="4" required>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									<span aria-hidden="true">Fechar</span>
								</button>
								<button type="submit" class="btn btn-primary" data-dismiss="modal">
									<span aria-hidden="true">Enviar </span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
