<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2 class="modal-title"> Cadastro </h2>
      </div>
      <div class="modal-body" >
        <form name="myForm" data-ng-submit="Login.cadastrarUsuario(Login.usuario)">
          <div class="form-group">
            <label> Nome: </label>
            <input type="text" class="form-control" id="nome" required ng-model="Login.usuario.nome">
            <label> Sobrenome: </label>
            <input type="text" class="form-control" id="sobrenome" required ng-model="Login.usuario.sobrenome">
          </div>
          <div class="form-group">
            <label> E-Mail: </label>
            <input type="email" class="form-control" id="email" required ng-model="Login.usuario.email">
            <label> NetID: </label>
            <input type="text" class="form-control" id="netId" maxlength="4" required ng-model="Login.usuario.netId">
            <label> CPF: </label>
            <input type="text" class="form-control" id="cpf" maxlength="11" placeholder="99999999999" pattern="\d*" required ng-model="Login.usuario.cpf">
            <label> Unidade: </label>
            <input type="text" class="form-control" id="unidade" required ng-model="Login.usuario.unidade">
          </div>
          <!--
            <div class="form-group">
              <label> Unidade: </label>
              <select class="form-control" id="unidade" ng-options="unidadeNome as unidades for unidade in items track by item.id" ng-model="Usuario.usuario.unidade">
                <option id="alphaville"> Alphaville </option>
                <option id="curitiba"> Curitiba </option>
                <option id="pinheiros"> Pinheiros </option>
                <option id="sorocaba"> Sorocaba </option>
              </select>
            </div>
          -->

          <div class="form-group">
            <label> Senha: </label>
            <input type="password" class="form-control" id="senha" maxlength="30" name="password" required ng-model="Login.usuario.senha">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span aria-hidden="true"> Fechar </span>
            </button>
            <input type="submit" id="cadastrarSubmit" value="Cadastrar" class="btn btn-success"></input>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
