<div class="container-fluid">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header"> Últimos Leilões </h1>
  </div>
</div>
<div class="container-fluid">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <table class="table table-striped" ng-controller="usuarioController as Usuario">
      <thead>
        <tr>
          <th> ID Leilão </th>
          <th> Ganhador </th>
          <th> Produto </th>
          <th> Valor do Arrematado </th>
          <th> Data do Arremate </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="usuarios in Usuario.usuarios">
          <td> {{usuarios.usuario.netId}} </td>
          <td> {{usuarios.usuario.nome}} </td>
          <td> {{usuarios.usuario.sobrenome}} </td>
          <td> {{usuarios.usuario.email}} </td>
          <td> {{usuarios.usuario.unidade}} </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
