<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header"> Home </h1>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-10 col-md-8 col-md-offset-3 main">
    <div class="col-sm-4 col-md-3">
      <div class="alert alert-success">
        <strong></strong>
        <p class="text-center"> Meu Lance: R$ 150,00 </p>
      </div>
      <div class="thumbnail">
        <img src="assets/img/yurakucho-shink-ALF_0305.jpg" alt="...">
        <div class="caption">
          <p class="text-center"> Produto 1 </p><hr>
          <h1 class="text-center"> 00:00:00 </h1>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 col-md-offset-2 main">
      <div class="thumbnail">
        <div class="caption">
          <p class="text-center"> Valor Inicial: R$ 100,00 </p><hr>
          <p class="text-center"> Valor por Lance: R$ 10,00 </p><hr>
          <p class="text-center"> Lance Atual R$ 150,00 </p>
          <p class="text-center"> AAAA </p>
        </div>
      </div>
      <a href="#"><img src="assets/img/BtnLance.jpg" width="218" height="47" border="0" alt="Lance" class="click"></a>
    </div>
  </div>
  <hr>
</div>
