<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Leilão</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"> Configurações </a></li>
          <li><a href="/"> Sair </a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a data-target="#userHome" data-toggle="tab"><span class="glyphicon glyphicon-home" class="sr-only" aria-hidden="true"></span> Home <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a href="#"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Leilões </a>
          <ol><a data-target="#proximosLeiloes" data-toggle="tab"> Próximos Leilões </a></ol>
          <ol><a data-target="#ultimosLeiloes" data-toggle="tab"> Últimos Leilões </a></ol>
        </li>
        <li>
          <a data-target="#userCompras" data-toggle="tab"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Minhas Compras </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="tab-content clearfix">
  <div class="tab-pane" id="userHome">
    <user-home></user-home>
  </div>
  <div class="tab-pane" id="ultimosLeiloes">
    <ultimos-leiloes></ultimos-leiloes>
  </div>
  <div class="tab-pane" id="proximosLeiloes">
    <proximos-leiloes></proximos-leiloes>
  </div>
  <div class="tab-pane" id="userCompras">
    <user-compras></user-compras>
  </div>
</div>
