<div class="container-fluid">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header"> Minhas Compras </h1>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <p>Ainda não há compras!</p>
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size: 600px; margin-left: 30%;"> </span>
    <div class="col-xs-12"><hr></div>
  </div>
</div>
