<div class="container-fluid">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header"> Próximos Leilões </h1>
  </div>
  <div class="col-sm-12 col-sm-offset-9 col-md-10 col-md-offset-2 main">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
          <img src="assets/img/yurakucho-shink-ALF_0305.jpg" alt="...">
          <div class="caption">
            <p class="text-center"> Produto 1 </p>
            <p class="text-center">Inicio do Leião: 16/03/2018 - 12:00:00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6"></div>
    <nav aria-label="Page navigation" class="center">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only"> Anterior </span>
          </a>
        </li>
        <li class="active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only"> Próximo </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
