<!DOCTYPE html>
<html lang="pt-br" data-ng-app="app">
	<head >
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Sistema de leilão desenvolvido como projeto interno.">
    <meta name="author" content="Jessé Rodrigues de Souza, Marcos Roberto Rafael Junior e GFT">
		<base href="/">
		<link href="static/assets/img/favicon.ico" rel="icon" />
		<title> {{$root.title}} | Leilão </title>

		<!-- Bootstrap v3.3.7 core CSS -->
		<link href="assets/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">

		<!-- Custom styles for this template -->
		<!--
			<link href="assets/css/signin.css" rel="stylesheet" type="text/css">
			<link href="assets/css/cas.css" rel="stylesheet" type="text/css">
			<link href="assets/css/gft.css" rel="stylesheet" type="text/css">
		-->

		<link href="assets/css/dashboard.css" rel="stylesheet" type="text/css">

  </head>

  <body>

    <div ng-view> </div>

		<footer>
			<!-- jQuery v3.2.1 -->
			<script src="assets/js/jquery/jquery.min.js" type="application/javascript"></script>

			<!-- Angular  v1.6.4 	-->
			<script src="assets/js/angular/angular.js" type="application/javascript"></script>
			<script src="assets/js/angular/angular-route.js" type="application/javascript"></script>

			<!-- Custom JS files -->
			<script src="assets/js/validation.js" type="application/javascript"></script>

			<!-- Source Angular App -->
			<script src="assets/js/app.js" type="application/javascript"></script>

			<!-- Route -->
			<script src="assets/js/routes/route.js" type="application/javascript"></script>

			<!-- Controller -->
			<script src="assets/js/controllers/appController.js" type="application/javascript"></script>
			<script src="assets/js/controllers/administradorController.js" type="application/javascript"></script>
			<script src="assets/js/controllers/headerController.js" type="application/javascript"></script>
			<script src="assets/js/controllers/leilaoController.js" type="application/javascript"></script>
			<script src="assets/js/controllers/loginController.js" type="application/javascript"></script>
			<script src="assets/js/controllers/produtoController.js" type="application/javascript"></script>
			<script src="assets/js/controllers/usuarioController.js" type="application/javascript"></script>

			<!-- Providers -->
			<script src="assets/js/providers/appProviders.js" type="application/javascript"></script>
			<script src="assets/js/providers/accessFactory.js" type="application/javascript"></script>
			<script src="assets/js/providers/deleterFactory.js" type="application/javascript"></script>
			<script src="assets/js/providers/listFactory.js" type="application/javascript"></script>
			<script src="assets/js/providers/registerFactory.js" type="application/javascript"></script>
			<script src="assets/js/providers/reseterFactory.js" type="application/javascript"></script>
			<script src="assets/js/providers/updaterFactory.js" type="application/javascript"></script>

			<!-- Directives -->
			<script src="assets/js/directives/appDirectives.js" type="application/javascript"></script>
			<script src="assets/js/directives/adminAtualizarProdutoDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/adminAtualizarUsuarioDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/adminCadastrarProdutoDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/adminCadastrarUsuarioDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/adminDesativarProdutoDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/adminDesativarUsuarioDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/adminHeaderDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/adminHomeDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/adminIniciarLeilaoDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/adminLeilaoFinalizadoDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/adminListaProdutoDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/adminListaUsuarioDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/adminParametroDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/loginCadastrarUsuarioDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/userComprasDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/userHeaderDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/userHomeDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/userProximosLeiloesDirective.js" type="application/javascript"></script>
			<script src="assets/js/directives/userUltimosLeiloesDirective.js" type="application/javascript"></script>

			<!-- Include all compiled plugins (below), or include individual files as needed -->
		  <script src="assets/css/bootstrap/dist/js/bootstrap.min.js" type="application/javascript"></script>

			<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
				<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
				<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
		</footer>
  </body>
</html>
